extends layout

block content

  script(type='text/javascript').
    var CSRF_HEADER = 'x-csrf-token';

    var setCSRFToken = function (securityToken) {
      jQuery.ajaxPrefilter(function (options, _, xhr) {
        if (!xhr.crossDomain) {
          xhr.setRequestHeader(CSRF_HEADER, securityToken);
        }
      });
    };

    var secondshiftobj = [];
    var start_date_picker
    var end_date_picker

    window.onload = function bring_in_da_data() {
      
        //getting the data from the initial pull upon page load
        var data_for_db = document.getElementById("data_for_db").value;
        var data_for_db_value = JSON.parse( data_for_db );

        var shifts_data = data_for_db_value.shifts;
        var schedule_data = data_for_db_value.schedule
        console.log(data_for_db_value.schedule)
        console.log(data_for_db_value.shifts)

        //doing work to fill in the drop down
        var listItems = [];

        //putting items into initial list
        
        for (var i = 0; i < schedule_data.length; i++){
          
          //start date
          var start_date = new Date(schedule_data[i].schedule_start)
          var s_year = start_date.getFullYear();
          var s_month = start_date.getMonth() + 1;
          if(s_month <= 9)
              s_month = '0'+s_month;
          var s_day= start_date.getDate();
          if(s_day <= 9)
              s_day = '0'+s_day;

          var s_prettyDate = s_month +'-'+ s_day + '-'+  s_year
          
          //end date
          var end_date = new Date(schedule_data[i].schedule_end)
          var e_year = end_date.getFullYear();
          var e_month = end_date.getMonth() + 1;
          if(e_month <= 9)
              e_month = '0'+e_month;
          var e_day= end_date.getDate();
          if(e_day <= 9)
              e_day = '0'+e_day;

          var e_prettyDate = e_month +'-'+ e_day + '-'+  e_year
          
          itemTest = s_prettyDate+ " to " + e_prettyDate;
          listItems[i] = itemTest;
         }

         //removing duplicates
         var seen = {};
         var out = [];
         var j = 0;
         for(var i = 0; i < listItems.length; i++) {
             var item = listItems[i];
             if(seen[item] !== 1) {
                   seen[item] = 1;
                   out[j++] = item;
             }
        }

        //putting values form de-deuped list into dropdown
        var dropdown = document.getElementById("ddl");
        for (var i = 0; i<out.length; i++){
          var itemTest= out[i];
          dropdown[dropdown.length] = new Option(itemTest, itemTest);
        };
        
        dropdown.selectedIndex = 1;
        
        //doing work to fill in the table
        var trHTML = '';
        
        // need to delete old rows everytime a new data range is selected
        var elmtTable = document.getElementById('myTableData');
        var tableRows = elmtTable.getElementsByTagName('tr');
        var rowCount = tableRows.length;
        for (var x=rowCount-1; x>0; x--) {
           elmtTable.deleteRow(x)
        }


        //putting all the new rows from the post function together in HTML
        shifts_data.forEach(function(item, itemIndex){
          trHTML += '<tr><td>' + item.employee_type
            +'<td>' + item.days_worked
            +'<td>' + item.num_employees
            +'<td>' + item.shift_start_time
            +'<td>' + item.shift_end_time
            +'<td>' + '<input type="button" name="btn-Edit" value="Edit" onClick="Javacsript:editRow(this)"/>'
            +'<td>' + '<input type="button" name="Delete" value="Delete" onClick="Javacsript:deleteRow(this)"/>'
        })

        //appending all rows to the myTableData table :)
        $('#myTableData').append(trHTML);        
        
    
    }

    //this function is suppose to change the manager table once the date picker is in place
    function change_table() {
    
    
    
    }

    function addRow() {
    //variables
      var table = document.getElementById("myTableData");
      var rowCount = table.rows.length;
      var row = table.insertRow(1);
      row.insertCell(0).innerHTML= '';
      row.insertCell(1).innerHTML= '';
      row.insertCell(2).innerHTML= '';
      row.insertCell(3).innerHTML= '';
      row.insertCell(4).innerHTML= '';
      row.insertCell(5).innerHTML= '<input type="button" value = "Save" onClick="Javacsript:editRow(this)">';
      row.insertCell(6).innerHTML= '<input type="button" value = "Delete" onClick="Javacsript:deleteRow(this)">';

      document.getElementById("myTableData").rows[1].cells[0].setAttribute("contentEditable", true);
      document.getElementById("myTableData").rows[1].cells[1].setAttribute("contentEditable", true);
      document.getElementById("myTableData").rows[1].cells[2].setAttribute("contentEditable", true);
      document.getElementById("myTableData").rows[1].cells[3].setAttribute("contentEditable", true);
      document.getElementById("myTableData").rows[1].cells[4].setAttribute("contentEditable", true);
      document.getElementById("myTableData").rows[1].style.backgroundColor = "#d2f9e3";
    }



    function deleteRow(obj) {
      var index = obj.parentNode.parentNode.rowIndex;
      var table = document.getElementById("myTableData");
      var currentTD = obj.parentNode.parentNode.rowIndex;
      var row_length = document.getElementById("myTableData").rows[currentTD].cells.length;

      var shift = {
        date_range_start: start_date_picker,
        date_range_end: end_date_picker,
        employee_type: document.getElementById("myTableData").rows[currentTD].cells[0].innerHTML,
        days_worked: document.getElementById("myTableData").rows[currentTD].cells[1].innerHTML,
        num_employees: document.getElementById("myTableData").rows[currentTD].cells[2].innerHTML,
        shift_start_time: document.getElementById("myTableData").rows[currentTD].cells[3].innerHTML,
        shift_end_time: document.getElementById("myTableData").rows[currentTD].cells[4].innerHTML

       }

      setCSRFToken($('meta[name="csrf-token"]').attr('content'));

      $.ajax({
          type: 'POST',
          data: shift,
          url: '/createschedule/deleteshift',
          dataType: 'JSON'
      });

      table.deleteRow(index);
    }


    //setting some global variables for updating shifts
    var employee_type
    var days_worked
    var num_employees
    var shift_start_time
    var shift_end_time



    function editRow(obj) {
      var currentTD = obj.parentNode.parentNode.rowIndex;
      var table = document.getElementById("myTableData");
      var row_length = document.getElementById("myTableData").rows.length;

      if (obj.value == 'Edit') {

          document.getElementById("myTableData").rows[currentTD].cells[0].setAttribute("contentEditable", true);
          document.getElementById("myTableData").rows[currentTD].cells[1].setAttribute("contentEditable", true);
          document.getElementById("myTableData").rows[currentTD].cells[2].setAttribute("contentEditable", true);
          document.getElementById("myTableData").rows[currentTD].cells[3].setAttribute("contentEditable", true);
          document.getElementById("myTableData").rows[currentTD].cells[4].setAttribute("contentEditable", true);
          document.getElementById("myTableData").rows[currentTD].cells[5].setAttribute("contentEditable", true);
          document.getElementById("myTableData").rows[currentTD].style.backgroundColor = "#d2f9e3";
          employee_type = document.getElementById("myTableData").rows[currentTD].cells[0].innerHTML
          days_worked = document.getElementById("myTableData").rows[currentTD].cells[1].innerHTML
          num_employees = document.getElementById("myTableData").rows[currentTD].cells[2].innerHTML
          shift_start_time = document.getElementById("myTableData").rows[currentTD].cells[3].innerHTML
          shift_end_time = document.getElementById("myTableData").rows[currentTD].cells[4].innerHTML
          obj.value = 'Save'
        }

      else {
          document.getElementById("myTableData").rows[currentTD].cells[0].setAttribute("contentEditable", false);
          document.getElementById("myTableData").rows[currentTD].cells[1].setAttribute("contentEditable", false);
          document.getElementById("myTableData").rows[currentTD].cells[2].setAttribute("contentEditable", false);
          document.getElementById("myTableData").rows[currentTD].cells[3].setAttribute("contentEditable", false);
          document.getElementById("myTableData").rows[currentTD].cells[4].setAttribute("contentEditable", false);
          document.getElementById("myTableData").rows[currentTD].cells[5].setAttribute("contentEditable", false);
          document.getElementById("myTableData").rows[currentTD].style.backgroundColor = "#FFFFFF"
          obj.value = 'Edit'

          var newshift = {
                   'employee_type': document.getElementById("myTableData").rows[currentTD].cells[0].innerHTML ,
                   'days_worked': document.getElementById("myTableData").rows[currentTD].cells[1].innerHTML,
                   'num_employees':  document.getElementById("myTableData").rows[currentTD].cells[2].innerHTML,
                   'shift_start_time':  document.getElementById("myTableData").rows[currentTD].cells[3].innerHTML,
                   'shift_end_time':  document.getElementById("myTableData").rows[currentTD].cells[4].innerHTML,
                   'old_employee_type':employee_type,
                   'old_days_worked': days_worked,
                   'old_num_employees': num_employees,
                   'old_shift_start_time': shift_start_time,
                   'old_shift_end_time': shift_end_time,
                   'date_range_start': start_date_picker,
                   'date_range_end': end_date_picker,
           }


          setCSRFToken($('meta[name="csrf-token"]').attr('content'));

          $.ajax({
              type: 'POST',
              data: newshift,
              url: '/createschedule/updateshift',
              dataType: 'JSON'
          });

      }

    }

    function finalshifts_submit(){
      var shift = {
        date_range_start: start_date_picker,
        date_range_end: end_date_picker
       }

      setCSRFToken($('meta[name="csrf-token"]').attr('content'));

      $.ajax({
          type: 'POST',
          data: shift,
          url: '/createschedule/final',
          dataType: 'JSON'
      });
      //console.log(shift.date_range_start)
    }

    
  //trying to add a drop down    
  select#ddl(onchange="change_table()")
    option(value='')

  br
  br
  input(type='hidden', id="data_for_db", value= JSON.stringify(locals))



  .col-sm-12.center
    form.form-group(action='/createschedule', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      #mydata
        br
        b Current data in the system ...
        table#myTableData(border='1', cellpadding='2')
          tr
            th
              b Employee type
            th
              b Days worked
            th
              b Number of employees
            th
              b Shift start
            th
              b Shift end
            th
              b Update
            th
              b Delete
    #myform
    form.form-group()
      input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-offset-9.col-sm-8
        button.col-sm-3.btn.btn-primary(type='submit', value='Add', onClick="addRow(this)") Add a shift
        br
        br


    #myform
    form.form-group()
      input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-offset-9.col-sm-8
        button.col-sm-3.btn.btn-primary(type='submit', value='Add', onClick="finalshifts_submit(this)") Confirm Shifts
        
    br
    br
