extends layout

block content
  .page-header

    .heading
      link(rel='stylesheet', type='text/css', href='css/launch_main.css')
      link(rel='stylesheet', type='text/css', href='css/launch_devices.css')
      .container-sml.text-center
        .col-12
          #login.heading
            | Upcoming shifts
    head
      script(type='text/javascript').
        var CSRF_HEADER = 'x-csrf-token';

        var setCSRFToken = function (securityToken) {
          jQuery.ajaxPrefilter(function (options, _, xhr) {
            if (!xhr.crossDomain) {
              xhr.setRequestHeader(CSRF_HEADER, securityToken);
            }
          });
        };

        function change_table() {
          //gettting json values
          var spref_json = document.getElementById("spref_json").value;
          var spref_json_value = JSON.parse( spref_json );

          //clearing table
          var table = document.getElementById("myTableData");
          table.getElementsByTagName("tbody")[0].innerHTML = table.rows[0].innerHTML;

          var ddl_value = document.getElementById("ddl").value;

          var listItems = [];

          //putting items from json into list
          for (var i = 0; i < spref_json_value.length; i++){
            itemTest= spref_json_value[i].date_range_start + " to " + spref_json_value[i].date_range_end ;
            if (itemTest == ddl_value){
              var rowCount = table.rows.length;
              var row = table.insertRow(rowCount);
              row.insertCell(0).innerHTML= spref_json_value[i].employee_type;
              row.insertCell(1).innerHTML= spref_json_value[i].days_worked;
              row.insertCell(2).innerHTML= spref_json_value[i].num_employees;
              row.insertCell(3).innerHTML= spref_json_value[i].shift_start_time;
              row.insertCell(4).innerHTML= spref_json_value[i].shift_end_time;
              console.log(spref_json_value[i].availability)
              if(spref_json_value[i].availability=="true"){
                row.insertCell(5).innerHTML= '<input id="type" type="checkbox" name="Available" autofocus="autofocus" checked="checked" onClick="Javacsript:on_check_click(this)">';
              } else {
                row.insertCell(5).innerHTML= '<input id="type" type="checkbox" name="Available"  autofocus="autofocus" onClick="Javacsript:on_check_click(this)">';
              }
            };
          };
        };

        function on_check_click(obj){
          //this checks to see if the
          //console.log(obj.checked);
          //this checks
          var ddl_value = document.getElementById("ddl").value;

          if (obj.checked == true) {var old_checked = false};

          if (obj.checked == false) {var old_checked = true};

          var index = obj.parentNode.parentNode.rowIndex;

          var table = document.getElementById("myTableData");
          var currentTD = obj.parentNode.parentNode.rowIndex;
          var row_length = document.getElementById("myTableData").rows[currentTD].cells.length;

          var date_array = ddl_value.split(/ to /);

          var newshift = {
                   'employee_type': document.getElementById("myTableData").rows[currentTD].cells[0].innerHTML,
                   'days_worked': document.getElementById("myTableData").rows[currentTD].cells[1].innerHTML,
                   'num_employees': document.getElementById("myTableData").rows[currentTD].cells[2].innerHTML,
                   'shift_start_time': document.getElementById("myTableData").rows[currentTD].cells[3].innerHTML,
                   'shift_end_time': document.getElementById("myTableData").rows[currentTD].cells[4].innerHTML,
                   'availability': obj.checked,
                   'availability_old': old_checked,
                   'date_range_start': date_array[0],
                   'date_range_end': date_array[1]
           }
           setCSRFToken($('meta[name="csrf-token"]').attr('content'));

           $.ajax({
               type: 'POST',
               data: newshift,
               url: '/spref/update',
               dataType: 'JSON'
           });

        }


        function finalshifts_submit(){

          var ddl_value = document.getElementById("ddl").value;
          var date_array = ddl_value.split(/ to /);

          var shift = {
            date_range_start: date_array[0],
            date_range_end: date_array[1]
           }

          setCSRFToken($('meta[name="csrf-token"]').attr('content'));

          $.ajax({
              type: 'POST',
              data: shift,
              url: '/spref/save',
              dataType: 'JSON'
          });
          console.log(shift.date_range_start)
          console.log(shift.date_range_end)
        }




    #mydata
      br
      br
      #helper.label.control-label 1) Select a data range from the dropdown to view upcoming shifts.
      br
      #helper.label.control-label 2) Indicate your availability by checking the box and pressing save.
      br
      br
      input(type='hidden', id="spref_json", value= JSON.stringify(spref))

      select#ddl(onchange="change_table()")
        option(value='')
        script.
         var spref_json = document.getElementById("spref_json").value;
         var spref_json_value = JSON.parse(spref_json);
         var listItems = [];

         //putting items into initial ist
         for (var i = 0; i < spref_json_value.length; i++){
           itemTest = spref_json_value[i].date_range_start + " to " + spref_json_value[i].date_range_end;
           listItems[i] = itemTest;
          }

          //removing duplicates
          var seen = {};
          var out = [];
          var j = 0;
          for(var i = 0; i < listItems.length; i++) {
              var item = listItems[i];
              if(seen[item] !== 1) {
                    seen[item] = 1;
                    out[j++] = item;
              }
         }

         //putting values form de-deuped list into dropdown
         var dropdown = document.getElementById("ddl");
         for (var i = 0; i<out.length; i++){
           var itemTest= out[i];
           dropdown[dropdown.length] = new Option(itemTest, itemTest);
         };



      br
      br



      table#myTableData(border='1', cellpadding='2')
        tr
          th
            b Employee type
          th
            b Days worked
          th
            b Number of employees
          th
            b Shift start
          th
            b Shift end
          th
            b Available


    .form-group
      .col-sm-offset-9.col-sm-7
        br
        br
        br
        button.col-sm-3.btn.btn-primary(type='submit', value='Add', onClick="finalshifts_submit()") Save shifts
            // move to next person in the people array ...
