extends layout

block content
  .page-header

    .heading
      link(rel='stylesheet', type='text/css', href='css/launch_main.css')
      link(rel='stylesheet', type='text/css', href='css/launch_devices.css')
      .container-sml.text-center
        .col-12
          #login.heading
            | Upcoming shifts
    head
      script(type='text/javascript').
        var CSRF_HEADER = 'x-csrf-token';

        var setCSRFToken = function (securityToken) {
          jQuery.ajaxPrefilter(function (options, _, xhr) {
            if (!xhr.crossDomain) {
              xhr.setRequestHeader(CSRF_HEADER, securityToken);
            }
          });
        };
        
        var secondshiftobj = [];
        var start_date_picker
        var end_date_picker


        function get_pretty_date(value){
          var start_date = new Date(value)
          var s_year = start_date.getFullYear();
          var s_month = start_date.getMonth() + 1;
          if(s_month <= 9)
              s_month = '0'+s_month;
          var s_day= start_date.getDate();
          if(s_day <= 9)
              s_day = '0'+s_day;

          var s_prettyDate = s_month +'-'+ s_day + '-'+  s_year
          return s_prettyDate
        }
        
        
        
        
        
        
        window.onload = function bring_in_da_data() {
          
            //getting the data from the initial pull upon page load
            var data_for_db = document.getElementById("spref_json").value;
            var data_for_db_value = JSON.parse( data_for_db );
            
            var shifts_data = data_for_db_value.shifts;
            var schedule_data = data_for_db_value.timeline;
            //console.log(shifts_data)
            //console.log(schedule_data)

            //doing work to fill in the drop down
            var listItems = [];
            
            for (var i = 0; i < schedule_data.length; i++){
              
              //start date
              var s_prettyDate = get_pretty_date(schedule_data[i].schedule_start)

              //end date
              var e_prettyDate = get_pretty_date(schedule_data[i].schedule_end)
              
              var manager_lockout = get_pretty_date(schedule_data[i].manager_lockout)
              var employee_lockout = get_pretty_date(schedule_data[i].employee_lockout)
              var today_date = new Date()
              today_date = get_pretty_date(today_date)
              
              itemTest = s_prettyDate+ " to " + e_prettyDate;
              
              if((manager_lockout <= today_date) && (employee_lockout > today_date )){
                listItems.push(itemTest);
              }
              
              
             }

             //removing duplicates
             var seen = {};
             var out = [];
             var j = 0;
             for(var i = 0; i < listItems.length; i++) {
                 var item = listItems[i];
                 if(seen[item] !== 1) {
                       seen[item] = 1;
                       out[j++] = item;
                 }
            }
            out.sort()
            //putting values form de-deuped list into dropdown
            var dropdown = document.getElementById("ddl");
            for (var i = 0; i<out.length; i++){
              var itemTest= out[i];
              dropdown[dropdown.length] = new Option(itemTest, itemTest);
            };
            
            dropdown.selectedIndex = 1;
            
            //doing work to fill in the table
            
            // need to delete old rows everytime a new data range is selected
            var elmtTable = document.getElementById('myTableData');
            var tableRows = elmtTable.getElementsByTagName('tr');
            var rowCount = tableRows.length;
            for (var x=rowCount-1; x>0; x--) {
               elmtTable.deleteRow(x)
            }

            var date_selected_in_dropdown = out[0].substring(0,10)
            var trHTML = '';

            
            //putting all the new rows from the post function together in HTML
            shifts_data.forEach(function(item, itemIndex){
              console.log('date range json '+item.date_range_start)
              console.log('date range selected '+date_selected_in_dropdown)
            if(item.date_range_start == date_selected_in_dropdown) {
              trHTML += '<tr><td>' + item.employee_type
                +'<td>' + item.days_worked
                +'<td>' + item.num_employees
                +'<td>' + item.shift_start_time
                +'<td>' + item.shift_end_time
                
                if(item.availability=="true"){
                  trHTML += '<td> <input id="type" type="checkbox" name="Available" autofocus="autofocus" checked="checked" onClick="Javacsript:on_check_click(this)">';
                } else {
                  trHTML +=  '<td> <input id="type" type="checkbox" name="Available"  autofocus="autofocus" onClick="Javacsript:on_check_click(this)">';
                }}
                //console.log(item)
            
            })

            //appending all rows to the myTableData table :)
            $('#myTableData').append(trHTML);        
            
        
        }
        
        
        
        
        
        
        

        function change_table() {
          //gettting json values
          var spref_json = document.getElementById("spref_json").value;
        
          var spref_json_value1 = JSON.parse( spref_json );
          var spref_json_value = spref_json_value1.shifts
          console.log(spref_json_value)
          //clearing table
          var table = document.getElementById("myTableData");
          table.getElementsByTagName("tbody")[0].innerHTML = table.rows[0].innerHTML;

          var ddl_value = document.getElementById("ddl").value;

          var listItems = [];

          //putting items from json into list
          for (var i = 0; i < spref_json_value.length; i++){
            itemTest= spref_json_value[i].date_range_start + " to " + spref_json_value[i].date_range_end ;
            if (itemTest == ddl_value){
              var rowCount = table.rows.length;
              var row = table.insertRow(rowCount);
              row.insertCell(0).innerHTML= spref_json_value[i].employee_type;
              row.insertCell(1).innerHTML= spref_json_value[i].days_worked;
              row.insertCell(2).innerHTML= spref_json_value[i].num_employees;
              row.insertCell(3).innerHTML= spref_json_value[i].shift_start_time;
              row.insertCell(4).innerHTML= spref_json_value[i].shift_end_time;
              console.log(spref_json_value[i].availability)
              if(spref_json_value[i].availability=="true"){
                row.insertCell(5).innerHTML= '<input id="type" type="checkbox" name="Available" autofocus="autofocus" checked="checked" onClick="Javacsript:on_check_click(this)">';
              } else {
                row.insertCell(5).innerHTML= '<input id="type" type="checkbox" name="Available"  autofocus="autofocus" onClick="Javacsript:on_check_click(this)">';
              }
            };
          };
        };

        function on_check_click(obj){
          //this checks to see if the
          //console.log(obj.checked);
          //this checks
          var ddl_value = document.getElementById("ddl").value;

          if (obj.checked == true) {var old_checked = false};

          if (obj.checked == false) {var old_checked = true};

          var index = obj.parentNode.parentNode.rowIndex;

          var table = document.getElementById("myTableData");
          var currentTD = obj.parentNode.parentNode.rowIndex;
          var row_length = document.getElementById("myTableData").rows[currentTD].cells.length;

          var date_array = ddl_value.split(/ to /);

          var newshift = {
                   'employee_type': document.getElementById("myTableData").rows[currentTD].cells[0].innerHTML,
                   'days_worked': document.getElementById("myTableData").rows[currentTD].cells[1].innerHTML,
                   'num_employees': document.getElementById("myTableData").rows[currentTD].cells[2].innerHTML,
                   'shift_start_time': document.getElementById("myTableData").rows[currentTD].cells[3].innerHTML,
                   'shift_end_time': document.getElementById("myTableData").rows[currentTD].cells[4].innerHTML,
                   'availability': obj.checked,
                   'availability_old': old_checked,
                   'date_range_start': date_array[0],
                   'date_range_end': date_array[1]
           }
           setCSRFToken($('meta[name="csrf-token"]').attr('content'));

           $.ajax({
               type: 'POST',
               data: newshift,
               url: '/spref/update',
               dataType: 'JSON'
           });
          location.reload();
        }


        function finalshifts_submit(){

          var ddl_value = document.getElementById("ddl").value;
          var date_array = ddl_value.split(/ to /);

          var shift = {
            date_range_start: date_array[0],
            date_range_end: date_array[1]
           }

          setCSRFToken($('meta[name="csrf-token"]').attr('content'));

          $.ajax({
              type: 'POST',
              data: shift,
              url: '/spref/save',
              dataType: 'JSON'
          });
          console.log(shift.date_range_start)
          console.log(shift.date_range_end)
          location.reload();
        }




    #mydata
      br
      br
      #helper.label.control-label 1) Select a data range from the dropdown to view upcoming shifts.
      br
      #helper.label.control-label 2) Indicate your availability by checking the box and pressing save.
      br
      br
      input(type='hidden', id="spref_json", value= JSON.stringify(locals))

      select#ddl(onchange="change_table()")
        option(value='')
      br
      br

      table#myTableData(border='1', cellpadding='2')
        tr
          th
            b Employee type
          th
            b Days worked
          th
            b Number of employees
          th
            b Shift start
          th
            b Shift end
          th
            b Available


    .form-group
      .col-sm-offset-9.col-sm-7
        br
        br
        br
        button.col-sm-3.btn.btn-primary(type='submit', value='Add', onClick="finalshifts_submit()") Save shifts
            // move to next person in the people array ...
